* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
}

table {
	width: 500px;
	border-collapse: collapse;
	margin: auto;
	margin-top: 20px;
}
 
td{
	border: 2px solid #000;
	padding: 1px 2px;
}
 
td:nth-child(even) {
	background-color: #e5ffb8;
}
 
td:nth-child(odd) {
	background-color: #f0ffd4;
}
 

.association {
	border: 2px solid black;
	text-align: center;
	background-color: #82b327;
	color: white;
	padding: 1px 2px;
	text-transform: uppercase;
}