.main-block {
    background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
    background-position: top left;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}
.blue, .red, .yellow {
    width: 100px;
    height: 100px;
}
.blue {
    background: blue;
    position: relative;

}
.red {
    background: red;
    position: relative;
    left:100px;
    /*top: 100px;*/
}
.yellow {
    background:yellow;
    position: relative;
    left:200px;
    /*top: 200px;*/
}