.main-block {
    background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
    background-position: top left;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    position: relative;
}
.blue, .red, .yellow {
    width: 100px;
    height: 100px;
}
.blue {
    background: blue;
    position: relative;
    left:150px;
    top: 150px;
    z-index: 2;
}
.red {
    background: red;
    position: relative;
    left:100px;
    top:10px;
    z-index: 1;

}
.yellow {
    background:yellow;
    position: relative;
    bottom:10px;
    left: 210px;
    z-index: 3;

}