.main-block {
    background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
    background-position: top left;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}
.house {
    width: 150px;
    height: 150px;
    background: coral;
    position: relative;
    bottom: -20px;
    left: 70px;
    z-index: 0;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
    left: 30px;
    top: -280px;
}
.chimney {
    width: 20px;
    height: 60px;
    background: black;
    position: relative;
    left: 80px;
    bottom:200px;

}
.door {
    width: 60px;
    height: 90px;
    background: brown;
    position: relative;
    left: 100px;
    top: 210px;
    z-index: 1;
}
.window {
    width: 40px;
    height: 40px;
    background: cyan;
    position: relative;
    left: 170px;
    top: 100px;
    z-index: 1;

}