* {
	margin: 0;
	padding: 0;

}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	background: #719ebb
}

div {
	display: block;
}

.fullwrap, .wrap, .button, .footer {
    position: relative;
} 

.header, #logo_1, #logo_2, .content {
    position: absolute;
}


.fullwrap {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
    bottom: 13px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.header {
	height: 108px;
}

.header .headerImg {
	max-width: 900px;
	width: 100%;
    height: 138px;
}

#logo_1 {
	max-width: 67px;
	top: 15px;
	left: 10px;
}

#logo_2 {
	max-width: 85px;
	right: 20px;
	top: 13px;
	z-index: 100;
}

.content {
	max-width: 500px;
	padding-right: 10px;
	padding-left: 90px;
    top: 12px;
}

.content h1, h2 {
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: MyriadProSemibold, sans-serif;
}

.content h1 {
	font-size: 24px;
    line-height: 28px;
    color: #1a2853;
    margin-bottom: 4px;
}

.content h1 span {
	text-transform: uppercase;
}

.content h1 a {
	color: #1a2853;
    text-decoration: none;
}

.content h2 {
    font-size: 12px;
    line-height: 19px;
    color: #7e8285;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrap {
    top: 108px;
    overflow: visible;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.wrap p, h1, h4, ul, .thirdContent p, .footer p {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 20px;
    font-family: Verdana, sans-serif;
}

.firstContent {
	background-color: #DFE6EC;
    padding: 10px 30px;
    margin: 13px 0 24px;
}

.firstContent h1 {
    font-size: 20px;
    padding-top: 6px;
    font-weight: bold;
    line-height: 26px;
    font-family: Verdana, sans-serif;
    color: #1a2853;
    margin: 0px 0px 9px;
}

.firstContent ul {
    font-size: 13px;
    line-height: 24px;
    font-stretch: normal;
    color: #1a2853;
    margin: 0px 0px 12px;
    padding: 0px 0px 0px 20px;
}

.secondContent {
	margin: 0 30px;
}

.secondContent h4 {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #1a2853;
    margin: 0px 0px 4px;
    padding: 0px;
}

.secondContent ul {
    font-size: 13px;
    line-height: 24px;
    color: #1a2853;
    margin: 0px 0px 12px;
    padding: 0px 0px 0px 20px;
}

.companies {
	overflow: hidden;
    clear: right;
}

.companies h4 {
    margin-bottom: 15px;
}

.companies .desktop {
    width: 100%;
	float: left;
 	clear: right;
}

.companies .mobile {
	display: none;
}

.thirdContent {
	background-color: #DFE6EC;
	overflow: hidden;
    padding: 20px 30px;
    margin: 20px 0 0 0;
}

.thirdContent p {
	float: left;
    width: 48%;
    line-height: 24px;
    color: #1a2853;
    margin: 0px 0px 12px 0px;
    padding: 0px;
}
.thirdContent p+p {
    margin-left: 4%; 
}

.button {
    background: url(https://mscs.mum.edu/images/bottom.jpg) no-repeat;
    margin: 0px auto;
    margin-left: -15px;
    height: 25px;
    max-width: 930px;
    top: 108px;
}

.footer {
    top: 108px;
}

.footer p {
    font-size: 11px;
    line-height: 18px;
    text-align: center;
}

p.copyright {
    text-transform: uppercase; 
}

p.sitemap {
    padding: 6px 0px 20px;
}

.footer a {
    color: #DEE5EB;
    text-decoration: none;
}

.sidebar {
    float: right;
    width: 300px;
    margin: 33px 30px 30px 30px;
    -webkit-box-shadow: 0px 4px 20px 5px #C1BBBB;
    box-shadow: 0px 4px 20px 5px #C1BBBB;
    border: 5px solid #DFE6EC;
    background-color: #fff;
}

.sidebar img {
    display: block;
    margin: -5px 0 0 -5px;
}

.sidebar .redBlock {
    background-color: #CD1920;
    margin: 0 -5px;
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid #fff;
}

.redBlock p, h4 {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.redBlock p {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 6px;
}

.redBlock h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 4px;
}

.form {
    margin: 12px auto;
    padding: 0;
    width: 290px;
    height: 252px;
    float: left;
}

.form iframe {
    padding-left: 8px;
    width: 290px;
    height: 220px;
}

.sidebar .form p span {
    display: block;
    padding-left: 8px;
    margin-top: 6px;
}

.form p span {
    color: #C03 ;
}

.form p {
    text-align: left;
    margin: 0 0 6px;
    padding-left: 8px;
}

.newLine {
    display: block;
}

.textBold {
    font-weight: bold;;
}

@media screen and (max-device-width: 500px) {
    body {
        display: block;
    }

    .fullwrap {
        max-width: 500px;
        width: 100%;
    }

    .wrap {
        margin: 0 auto
    }

    .sidebar {
        float: left;
        margin: 33px 30px 30px 85px;
    }

    .companies .desktop {
        display: none;
    }

    .companies .mobile {
        display: block;
        width: 100%;
    }

    .content h1 {
        font-size: 14px;
        line-height: 18px;
    }

    .content h2 {
        font-size: 10px;
        letter-spacing: 2px;
    }
}